---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="min-h-screen flex flex-col font-sans text-[15px]">
    <Header />
    <main class="flex-1 mx-auto max-w-prose w-full px-5 py-10">
      <slot />
    </main>
    <Footer />
  </body>
</html>
